<span [ngClass]='{"sb-nav-fixed": !static}'>
    <sb-top-nav id="home"></sb-top-nav>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <br><br><br><br>
                <ng-content></ng-content>
            </div>
        </main>
        <sb-footer id='contacts'></sb-footer>
    </div>

    <!-- <div *ngIf="false" id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <sb-side-nav [sidenavStyle]="sidenavStyle" [sideNavItems]="sideNavItems"
                [sideNavSections]="sideNavSections"></sb-side-nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <ng-content></ng-content>
                </div>
            </main>
            <sb-footer></sb-footer>
        </div>
    </div> -->
</span>
