<sb-layout-dashboard>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <KE-image-slider></KE-image-slider>
            </div>
        </div>
        <div *ngIf="true" class="row">
            <div class="col">
                <KE-home></KE-home>
            </div>
        </div>
        <div class="row justify-content-center background-custom">
            <div class="col">
                <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="true" style="width: 100%">
                    <ng-template ngbSlide>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/AIH-1010.JPG"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/ALH-1009.jpg"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/ALH-1010.JPG"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141854.jpg"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                                </div>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="row justify-content-end"> -->
                            <div class="col text-center" style="margin-top: 1.5em;">
                                <span class="overlay-text">Buy elegantly crafted Metal Handicrafts </span>
                                <br><a routerLink="/products" class="btn btn--outline" style="margin-top: 1em;">SHOP
                                    NOW</a>
                            </div>
                        </div>
                        <!-- </div> -->
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141943.jpg"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/WMIH-35A.jpg"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/WMIH-35Ca.jpg"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                                </div>
                                <div class="col text-center">
                                    <a href="/products/6">
                                    <img src="assets/images/incense holder/Metal Incense Holder/AIH-1010.JPG"
                                        class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                                </div>
                            </div>
                            <!-- </div>
                <div class="row"> -->
                            <div class="col text-center" style="margin-top: 1.5em;">
                                <span class="overlay-text">Buy elegantly crafted Metal Handicrafts </span>
                                <br><a routerLink="/products" class="btn btn--outline"style="margin-top: 1em;">SHOP NOW</a>
                            </div>
                        </div>
                    </ng-template>


                </ngb-carousel>
            </div>
        </div>
    </div>
</sb-layout-dashboard>
