@import 'styles/variables.scss';
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: .4em 1.20em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .75em;
    margin-left: .75em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border-radius: 0;
  }
  
  .btn--outline{
    border: 3px solid #fff;
    color: #fff;
  }
  .btn--outline:hover{
    background: #fff;
    color: #13b396;
  }
  .overlay-text {
    margin: 20px 0px 10px 420px;
    font: bold 18px 'Nunito', sans-serif ;
    color: #fff;


}
.cookie-container{
  position: fixed;
  bottom: -100;
  left: 0;
  right: 0;
  background: #146e5d;
  color: #fff;
  padding: 0 32px;
  transition:400ms;
  box-shadow: 0 -2px 16px rgba(24, 133, 113, 0.455);

}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #fff;
}

.cookie-btn {
  background: #ffffff;
  border: 0;
  color: #13b396;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 3px;
  cursor: pointer;

}