<sb-layout-dashboard>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <KE-image-slider></KE-image-slider>
            </div>
        </div>
        <div *ngIf="true" class="row">
            <div class="col">
                <KE-home></KE-home>
            </div>
        </div>
        <div class="container-fluid background-custom">
            <div class="row align-items-center" style="min-height: 320px;">
                <div class="col-3 h-50 align-self-center text-center">
                    <span class="overlay-text ">Buy Elegant Home Decor and <br> Home Fragrant Products</span>
                    <br> <a routerLink="/products" class="btn btn--outline">SHOP NOW</a>
                </div>
        
        
                <div class="col colp">
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-4 col-md-12 noMarginPadding" style="margin-top: 0px;">
                                <div id="stage">
                                    <a href="/products/3">
                                        <img src="assets/images/BackFlow Fountain/Ceramic Fountain/WhatsApp Image 2020-08-23 at 1.00.16 PM (1).jpeg"
                                            width="200" height="200"></a>
                                    <a href="/products/3">
                                        <img src="assets/images/BackFlow Fountain/Resin Fountain/KE-BFF-43.jpg"
                                            width="200" height="200"></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                            </div>
                            <div class="col-lg-4 col-md-12 noMarginPadding" style="margin-top: 0px;">
                                <div id="stage">
                                    <a href="/products/14">
                                        <img src="assets/images/Charcoal Burner/Brass Charcoal Burner/BRB-03G.jpg" width="200">
                                    </a>
                                    <a href="/products/14">
                                        <img src="assets/images/Charcoal Burner/Brass Charcoal Burner/BRB-101-Pentagram  Carved Charcoal Burner.JPG"
                                            width="200" height="200">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                            </div>
                            <div class="col-lg-6 col-md-12 noMarginPadding">
                                <div id="stage">
                                    <a href="/products/6">
                                        <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141854.jpg"
                                            width="200" height="200">
                                    </a>
                                    <a href="/products/6">
                                        <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141943.jpg"
                                            width="200" height="200">
                                    </a>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</sb-layout-dashboard>
