@import 'styles/variables.scss';
.nav-pills > li > a,.nav-pills > li > a > .nav-link{
    background-color: #caf3e8;
    color: #13b396;

  }.nav-pills > li >  a:hover,.nav-pills > li > a.active , .nav-pills > li > a.active > .nav-link{
    background-color: #13b396;
    color: #ffffff;
    
}

.btn--outline{
  outline: 3px solid #13b396;
  outline-offset: -3px;
  outline-style:outset;
  color: #13b396;
  
}
.btn--outline:hover{
  background: #13b396;
  color: white;
}