<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #13b396;;">
    <a class="navbar-brand" style="font-family:'Marcellus SC', serif;" routerLink="/dashboard">Kumoro Exports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item active">
              <a class="nav-link" routerLink="/dashboard" fragment="home">Home <span
                      class="sr-only">(current)</span></a>
              
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard" fragment="contacts">Contact</a>
            </li>





            <li class="nav-item active dropdown" ngbDropdown placement="bottom-right" display="dynamic">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle
                    data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" *ngFor="let parentProduct of parentProducts"
                        routerLink="/products/{{parentProduct.parentProductType}}">{{parentProduct.title}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/products">See all products</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/carts" >
                    <img src="../../../../assets/images/local_mall-white-18dp.svg" width="25" alt="" class="d-inline-block align-middle mr-2" data-toggle="tooltip" title="Cart">
                </a>
            </li>
            <!-- <span class="d-inline-block" tabindex="0" "></span> -->

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>




      
<!-- <style>
   sb-topnav navbar navbar-expand navbar-dark bg-dark
</style> -->
<!-- 

        <li class="nav-item dropdown dropdown-user no-caret" *ngIf="authService.currentUser | async as user" ngbDropdown
            placement="bottom-right" display="dynamic">
            <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button"
                aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]='["fas", "user"]'></fa-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
                <h6 class="dropdown-header">
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ user.name }}</div>
                        <div class="dropdown-user-details-email">{{ user.email }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a *ngIf="false" class="dropdown-item" routerLink="/dashboard">Settings</a><a class="dropdown-item"
                    *ngIf="false" routerLink="/dashboard">Activity Log</a>
                <div class="dropdown-divider"></div>
                <button class="btn btn-danger dropdown-item" (click)="logout()">Logout
                </button>
        
            </div>
        </li> -->








    <!-- </nav> -->

    <!-- <button *ngIf="false" class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav"
        (click)="toggleSideNav()">
        <fa-icon [icon]='["fas", "bars"]'></fa-icon>
    </button> -->
    <!-- Navbar Search-->
    <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div *ngIf="false" class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <fa-icon [icon]='["fas", "search"]'></fa-icon>
                </button>
            </div>
        </div>
    </form> -->
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <!-- <sb-top-nav-user></sb-top-nav-user> -->
    </ul>
</nav>
