@import 'styles/variables.scss';

.navbar,.dropdown-menu{
    background: #13b396;
}

ul li a {
    display: block;
    padding: 16.5px 25px 16.5px 25px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font: normal 19px 'Nunito', sans-serif;
}
ul li a:hover {
    background: #0e8570;
}

.navbar-brand{
    font: bold 28px 'Marcellus SC';
}