<!-- <sb-layout-dashboard>
    <sb-dashboard-head title="Charts" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">Chart.js is a third party plugin that is used to generate the charts in this template.
            The charts below have been customized - for further customization options, please visit the official <a
                target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>.</div>
    </sb-card>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example
        </div>
        <div class="card-body">
            <sb-charts-area></sb-charts-area>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </sb-card>
    <div class="row">
        <div class="col-lg-6">
            <sb-card>
                <div class="card-header">
                    <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example
                </div>
                <div class="card-body">
                    <sb-charts-bar></sb-charts-bar>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </sb-card>
        </div>
        <div class="col-lg-6">
            <sb-card>
                <div class="card-header">
                    <fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Pie Chart Example
                </div>
                <div class="card-body">
                    <sb-charts-pie></sb-charts-pie>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </sb-card>
        </div>
    </div>
</sb-layout-dashboard> -->
<sb-layout-dashboard>
    <div class="container ">
        <div class="row text-center" *ngIf="cart">
            <div *ngFor="let item of cart.cartItem" class="col-2 text-center">
                <sb-product-view-cart [imageSource]="item.product.imageSrc" [description]="item.product.details"
                    [title]="item.product.title" (onQtyInc)="qtyInc(item)" (onQtyDec)="qtyDec(item)"
                    (onRemoveFromCart)="removeFromCart(item)" [qty]="item.qty">
                </sb-product-view-cart>
            </div>

        </div>
        <div class="row">
            <button type="button" class="btn btn-primary" (click)="open(content)" style="margin: auto;">
                Confirm order
            </button>

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault01">Full Name</label>
                                <input type="text" class="form-control" id="validationDefault01" value="" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault02">Email address</label>
                                <input type="email" class="form-control" id="validationDefault02"
                                    aria-describedby="emailHelp" placeholder="xx@gmail.com" />
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Any Specifications</span>
                            </div>
                            <textarea class="form-control" aria-label="Any Specifications"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Confirm Order
                    </button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </div>
            </ng-template>

        </div>
    </div>
</sb-layout-dashboard>
