@import 'styles/variables.scss';

.overlay-text {
    font: bold 18px 'Sriracha', cursive;
    color: #fff;
}



// .colp {
//     // border: solid 2px black;
//     // background-color: red;
// }

.background-custom {
    background-image: url('assets/images/background.png');
    height: 104%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noMarginPadding {
    padding: 0;
    margin: 0;
}

.btn {
    cursor: pointer;
    margin-top: 1em;
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.4em 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border-radius: 0;
}

.btn--outline {
    border: 3px solid #fff;
    color: #fff;
}
.btn--outline:hover {
    background: #fff;
    color: #13b396;
}

#stage {
    margin: 1em auto;
    width: 190px;
    height: 190px;
}

#stage a {
    position: absolute;
}

#stage a img {
    // padding: 10px;
    border: 1px solid #12967e;
    background: #fff;
}

#stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 20;
}

#stage a:nth-of-type(2) {
    z-index: 10;
}

#stage a:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}