<!-- <sb-card
    ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>DataTable Example</div>
    <div class="card-body"><sb-ng-bootstrap-table [pageSize]="4"></sb-ng-bootstrap-table></div
></sb-card> -->
<!-- <div class="container"> -->
    <div class="row"  >
        <div class="distributed">
            <img src="assets/images/background.png" alt="" style="width:1180px;height:450px; margin: -18px 0px 50px 5px;">
                <div class="card-img-overlay" style="margin: 60px 50px 50px 100px;">
                    <div class="flipbox flipTop" style="margin: 45px 50px 50px 350px;">
                        <div class="FrontSide">
                            <img src="assets/images/BackFlow Fountain/Ceramic Fountain/IMG-20170907-WA0018 .jpg" style="width:210px;height:210px;"  alt="">
                        </div>
                        <div class="BackSide">
                            <img src="assets/images/BackFlow Fountain/Resin Fountain/71vTrBF1l1L._SL1258_.jpg" style="width:210px;height:210px;" alt="">
                        </div>
                    </div>
                    <div class="flipbox flipBottom" style="margin: -40px 50px 50px 600px;" >
                        <div class="FrontSide">
                            <img src="assets/images/Resin Burner/Brass Resin Burner/BRB-03G.jpg" style="width:210px;height:210px;"  alt="">
                        </div>
                        <div class="BackSide">
                            <img src="assets/images/Resin Burner/Brass Resin Burner/BRB-101-Pentagram  Carved Charcoal Burner.JPG" style="width:210px;height:210px;"  alt="">
                        </div>
                    </div>
                    <div class="flipbox flipTop" style="margin: -360px 50px 50px 850px;">
                        <div class="FrontSide">
                            <img src="assets/images/incense holder/Wooden Incense Holder/WHC-05.jpg" style="width:210px;height:210px;"  alt="">
                        </div>
                        <div class="BackSide">
                            <img src="assets/images/incense holder/Wooden Incense Holder/WHC-06.jpg" style="width:210px;height:210px;" alt="">
                        </div>
                    </div>
                    <span class="overlay-text" >Buy unique and elegant Home Decor <br>and Home Fragrance products</span>
                    <div class="row 4">
                        <div class="col">
                            <a routerLink="/products" class="btn btn--outline" style="margin-left: 5em; margin-top: 0.5em; " >SHOP NOW</a>
                    </div>
                    </div>
                </div>
        </div>
    </div>


