@import 'styles/variables.scss';

// .colp {
//     border: solid 3px black;
//     background-color: red;
// }

.justify-content-end {
    margin-top: 100px;
}
img{
    margin: 8px 8px 8px 8px;
    border:1px solid #13b396;
    border-radius: 0%;
    box-shadow:  0px 4px 4px #108e77;
}

.background-custom {
    padding: 42px;
    background-image: url('assets/images_opt/Optimized-background (1).png');
    height: 102%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    cursor: pointer;
    margin-top: 1em;
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.4em 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 4px #146959;
    border-radius: 0;
}

.btn--outline {
    border: 3px solid #fff;
    color: #fff;
}
.btn--outline:hover {
    background: #fff;
    color: #13b396;
}
.overlay-text {
    // margin: 20px 0px 10px 420px;
    font: bold 18px 'Neuton', serif;
    color: rgb(255, 255, 255);
}

.desc {
    font: bold 16px 'Neuton', serif;
    color:  #0f826d;
    padding: 7px;
    background-color: #c3e9e3;
  }


