 <div class="container-fluid background-custom">
     <div class="row align-items-center" style="min-height: 320px;">
         <div class="col-4 h-50 align-self-center text-center">
             <span class="overlay-text">Buy unique and elegant Home Decor <br>and Home Fragrance products</span>
             <br> <a routerLink="/products" class="btn btn--outline">SHOP NOW</a>
         </div>
         <div class="col colp">
             <div class="container">
                 <div class="row ">
                     <div class="col-lg-4 col-md-12 noMarginPadding">
                         <div class="flipbox flipTop">
                             <div class="FrontSide">
                                <a href="/products/3">
                                 <img class="img-fluid img-rounded img-rounded" src="assets/images/BackFlow Fountain/Ceramic Fountain/IMG-20170907-WA0018 .jpg">
                                </a>
                             </div>
                             <div class="BackSide colp">
                                <a href="/products/3">
                                 <img class="img-fluid img-rounded img-rounded" src="assets/images/BackFlow Fountain/Resin Fountain/71vTrBF1l1L._SL1258_.jpg">
                                 </a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4 col-md-12">
                     </div>
                     <div class="col-lg-4 col-md-12 noMarginPadding" style="margin-top: 0px;">
                         <div class="flipbox flipBottom">
                             <div class="FrontSide">
                                <a href="/products/14">
                                 <img class="img-fluid img-rounded img-rounded" src="assets/images/Resin Burner/Brass Resin Burner/BRB-03G.jpg">
                                 </a>
                             </div>
                             <div class="BackSide">
                                <a href="/products/14">
                                 <img src="assets/images/Resin Burner/Brass Resin Burner/BRB-101-Pentagram  Carved Charcoal Burner.JPG">
                                 </a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4 col-md-12">
                     </div>
                     <div class="col-lg-4 col-md-12 noMarginPadding">
                         <div class="flipbox flipTop">
                             <div class="FrontSide">
                                <a href="/products/6">
                                 <img class="img-fluid img-rounded img-rounded" src="assets/images/incense holder/Wooden Incense Holder/WHC-05.jpg">
                                 </a>
                             </div>
                             <div class="BackSide">
                                <a href="/products/6">
                                 <img class="img-fluid img-rounded img-rounded" src="assets/images/incense holder/Wooden Incense Holder/WHC-06.jpg">
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>



 