<div class="row justify-content-center background-custom">
    <div class="col">
        <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="true" style="width: 100%">
            <ng-template ngbSlide>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0009.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0010.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0011.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0012.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row justify-content-end"> -->
                    <div class="col text-center" style="margin-top: 1.5em;">
                        <span class="overlay-text">Buy High Quality Handmade Bolster Covers </span>
                        <br><a routerLink="/products" class="btn btn--outline" style="margin-top: 1em;">SHOP
                            NOW</a>
                    </div>
                </div>
                <!-- </div> -->
            </ng-template>
            <ng-template ngbSlide>
                <div class="container-fluid ">
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0015.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0038.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0042.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>

                        </div>
                        <div class="col text-center">
                            <a href="/products/19">
                                <img src="assets/images_opt/Bolsters Cover/IMG-20200629-WA0044.jpg"
                                    class="card-img-top" alt="..." style="width: 210px; height: 210px;" /></a>
                        </div>
                    </div>
                    <!-- </div>
        <div class="row"> -->
                    <div class="col text-center" style="margin-top: 1.5em;">
                        <span class="overlay-text">Buy High Quality Handmade Bolster Covers</span>
                        <br><a routerLink="/products" class="btn btn--outline" style="margin-top: 1em;">SHOP
                            NOW</a>
                    </div>
                </div>
            </ng-template>


        </ngb-carousel>
    </div>
</div>

    <script type="text/javascript">
        // Original JavaScript code by Chirp Internet: www.chirp.com.au
        // Please acknowledge use of this code by including this header.

        window.addEventListener("DOMContentLoaded", function (e) {

            var stage = document.getElementById("stage");
            var fadeComplete = function (e) {
                stage.appendChild(arr[0]);
            };
            var arr = stage.getElementsByTagName("a");
            for (var i = 0; i < arr.length; i++) {
                arr[i].addEventListener("animationend", fadeComplete, false);
            }

        }, false);

    </script>



<!-- <div class="container-fluid background-custom">
    <div class="row align-items-center" style="min-height: 320px;">
        <div class="col-3 h-50 align-self-center text-center">
            <span class="overlay-text ">Buy elegant Home Decor and <br> Home Fragrant products</span>
            <br> <a routerLink="/products" class="btn btn--outline">SHOP NOW</a>
        </div>


        <div class="col colp">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-12 noMarginPadding" style="margin-top: 0px;">
                        <div id="stage">
                            <a href="/products/3">
                                <img src="assets/images/BackFlow Fountain/Ceramic Fountain/PicsArt_06-14-04.14.39.jpg"
                                    width="220" height="220"></a>
                            <a href="/products/3">
                                <img src="assets/images/BackFlow Fountain/Resin Fountain/IMG-20180705-WA0008.jpg"
                                    width="220" height="220"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                    </div>
                    <div class="col-lg-4 col-md-12 noMarginPadding" style="margin-top: 0px;">
                        <div id="stage">
                            <a href="/products/14">
                                <img src="assets/images/Resin Burner/Brass Resin Burner/BRB-03G.jpg" width="220">
                            </a>
                            <a href="/products/14">
                                <img src="assets/images/Resin Burner/Brass Resin Burner/BRB-101-Pentagram  Carved Charcoal Burner.JPG"
                                    width="220" height="220">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                    </div>
                    <div class="col-lg-6 col-md-12 noMarginPadding">
                        <div id="stage">
                            <a href="/products/6">
                                <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141854.jpg"
                                    width="220" height="220">
                            </a>
                            <a href="/products/6">
                                <img src="assets/images/incense holder/Metal Incense Holder/IMG_20191010_141943.jpg"
                                    width="220" height="220">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

 -->