    <!-- <div class="middle">
        <div class="text"></div>
    </div>
    <div class="title">
        <span>{{title}}</span>
    </div>
    <button type="button" class="btn btn-outline-dark">ADD TO CART</button> -->
    <div class="card">
        <img [src]="imageSource" class="img-responsive" alt="Avatar">
        <div class="card-body">
          <p class="card-text">{{description}}</p>
        </div>
      </div>
      <p>Quantity:<span class="badge badge-info badge-pill">{{qty}}</span></p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="this.onQtyInc.emit(null)" data-toggle="tooltip" title="Increase">+</button>
        <button type="button" class="btn btn-secondary" (click)="this.onQtyDec.emit(null)" data-toggle="tooltip"
            title="Decrease">-</button>
        <button type="button" class="btn btn-secondary" (click)="this.onRemoveFromCart.emit(null)" data-toggle="tooltip"
            title="Delete from cart">Delete</button>
      </div>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    
