<!-- <div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">Primary Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">Warning Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">Success Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">Danger Card</div>
        </sb-card-view-details>
    </div>
</div> -->







<div class="row  noMarginPadding">
    <div class="col col-lg-12 col-sm-12 text-center">
        <div class="container">
            <span class="title">~~~*PRINTED JACKETS*~~~ </span>
        </div>
    </div>
</div>
<div class="container" style="align-self: center;">
    <div class="row 2">
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/22">
                <img  class="img2" src="assets/images/editeddd/Optimized-IMG-20200728-WA0109.jpg" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12 ">
            <a href="/products/22">
                <img class="img2" src="assets/images/editeddd/Optimized-IMG-20200728-WA0016.jpg" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/22">
                <img class="img2" src="assets/images/editeddd/Optimized-IMG-20200728-WA0110.jpg" alt="">
            </a>
        </div>

    </div>
</div>
<div class="row 3 ">
    <div class="col text-center">
        <a routerLink="/products/22" class="btn btn--outline">SHOP NOW</a>
    </div>
</div>


<div class="row  noMarginPadding">
    <div class="col col-lg-12 col-sm-12 text-center">
        <div class="container">
            <span class="title">~~~*TABLE COVERS*~~~ </span>
        </div>
    </div>
</div>
<div class="container" style="align-self: center;">
    <div class="row 2">
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/21">
                <img class="img1" src="assets/images/editeddd/Optimized-IMG-20200728-WA0132.jpg" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12 ">
            <a href="/products/21">
                <img class="img1" src="assets/images/editeddd/Optimized-IMG-20200728-WA0134.jpg" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/21">
                <img class="img1" src="assets/images/editeddd/Optimized-IMG-20200728-WA0136.jpg" alt="">
            </a>
        </div>

    </div>
</div>
<div class="row 3 ">
    <div class="col text-center">
        <a routerLink="/products/21" class="btn btn--outline">SHOP NOW</a>
    </div>
</div>





<div class="row  noMarginPadding">
    <div class="col col-lg-12 col-sm-12 text-center">
        <div class="container">
            <span class="title">~~~*OIL BURNERS*~~~ </span>
        </div>
    </div>
</div>
<div class="container" style="align-self: center;">
    <div class="row 2">
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/11">
                <img src="assets/images_opt/oil burner/Soft Stone Oil Burner/BS-OB-02.JPG" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/11">
                <img src="assets/images_opt/oil burner/Soft Stone Oil Burner/BS-OB50.JPG" alt="">
            </a>
        </div>
        <div class="text-center col-lg-4 col-md-12">
            <a href="/products/11">
                <img src="assets/images_opt/oil burner/Soft Stone Oil Burner/L-052.jpg" alt="">
            </a>
        </div>

    </div>
</div>
<div class="row 3 ">
    <div class="col text-center">
        <a routerLink="/products/11" class="btn btn--outline">SHOP NOW</a>
    </div>
</div>



<!-- margin-left: 2em;
margin-left: 3.5em;
margin-left: 5em;
 products/3

-->
