<!-- <div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">Primary Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">Warning Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">Success Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">Danger Card</div>
        </sb-card-view-details>
    </div>
</div> -->


<!--  -->
<!-- <div class="row ">
    <div class="col ">
        <div class="container">
            <p class="footer-company-about" style="margin-left: 30em; margin-top:3em; margin-bottom: 1em;">
                <span>Ceramic BackFlow <br> Fountain</span>
                Incense cones burning stand. <br>Smoke flows out backwards<br> resembling a waterfall</p>
        </div>
        <div class="shrink imagex" style="margin-left: 30em; margin-top: 0;">
            <img src="assets/images/BackFlow Fountain/Ceramic Fountain/PicsArt_06-14-04.14.39.jpg" alt="">
        </div>
    </div>
</div>

<div class="row 2">
    <p class="footer-company-about" style="margin: 5px 0px 0px 195px">
        <span>Soft Stone Oil <br> Burner</span>
        Spreads calming aroma<br>of essential oils<br>in the surrounding</p>
    <div class="col 2" style="margin-left: 0; margin-top: -2em; margin-right: -5.5em;">

        <div class="shrink imagex">
            <img src="assets/images/oil burner/Soft Stone Oil Burner/BS-OB-02.JPG" alt="">
        </div>
    </div>
    <p class="footer-company-about" style="margin: 5px 0px 0px -21px">
        <span>Ceramic Incense <br>Burner</span>
        Incense sticks burning stand,<br> elegantly made with ceramic<br>material</p>
    <div class="col 4" style="margin-right: 0; margin-top: -2em; margin-left: -30.5em;">
        <div class="shrink imagex">
            <img src="assets/images/incense holder/Ceramic Incense Holder/IMG-20200608-WA0029.jpg" alt="">
        </div>
    </div>
</div>
<div class="row 3">
    <div class="col ">
        <div class="shrink imagex" style="margin-left: 30em; margin-top: -0.8em; ">
            <img src="assets/images/BackFlow Fountain/Resin Fountain/IMG-20180705-WA0008.jpg" alt="">
        </div>
    </div>
    <div class="row 4">
        <div class="col">
            <p class="footer-company-about" style="margin-left: 34em; margin-top:-0.5em; margin-bottom: 0.5em;">
                <span>Resin BackFlow <br> Fountain</span>
                Incense cones burning stand. <br>Smoke flows out backwards<br> resembling a waterfall</p>
        </div>
    </div>
</div>
<div class="row 5">
    <div class="col">
        <a routerLink="/products" class="btn btn--outline" style="margin-left: 32em; ">SHOP NOW</a>
    </div>
</div> -->








<div class="row  noMarginPadding" >
    <div class="col col-lg-12 col-sm-12 text-center">
        <div class="container">
    <span class="title">~~~*FEATURED PRODUCTS*~~~ </span>
</div>
</div>
</div>
<div class="container">
<div class="row 2">
       <div class="column ">
      <img src="assets/images/BackFlow Fountain/Ceramic Fountain/PicsArt_06-14-04.14.39.jpg" alt="" style="width:100%; margin-left: 2em;">
    </div>
    <div class="column">
      <img src="assets/images/oil burner/Soft Stone Oil Burner/BS-OB-02.JPG" alt="" style="width:100%; margin-left: 3.5em;">
    </div>
    <div class="column">
        <img src="assets/images/BackFlow Fountain/Resin Fountain/IMG-20180705-WA0008.jpg" alt="" style="width:100%; margin-left: 5em;">
      </div>
    
  </div>
</div>
<div class="row 3 ">
    <div class="col text-center">
        <a routerLink="/products" class="btn btn--outline" >SHOP NOW</a>
    </div>
</div>

 