    <!-- <div class="middle">
        <div class="text"></div>
    </div>
    <div class="title">
        <span>{{title}}</span>
    </div>
    <button type="button" class="btn btn-outline-dark">ADD TO CART</button> -->
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <div class="hovereffect">
                <img [src]="imageSource" alt="Avatar" class="img-responsive">
                 <div class="overlay">
                     <h2>{{description}}</h2>
                     <a class="info" (click)="addToCart()">Add to Cart</a>
                 </div>
             </div>        
        </div>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    </div>
